<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jdots.wordcards">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".SelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectActivity" />
        </activity>
        <activity
            android:name=".LevelActivity"
            android:parentActivityName=".SelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectActivity" />
        </activity>
        <activity
            android:name=".WordsActivity"
            android:parentActivityName=".LevelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LevelActivity" />
        </activity>
        <activity
            android:name=".MemActivity"
            android:parentActivityName=".SelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectActivity" />
        </activity>
        <activity
            android:name=".ArrangeActivity"
            android:parentActivityName=".MemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MemActivity" />
        </activity>
        <activity
            android:name=".MathActivity"
            android:parentActivityName=".SelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectActivity" />
        </activity>
        <activity android:name=".SelectActivity">

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.ca-app-pub-2579135590725888~7362712136"
            android:value="ca-app-pub-2579135590725888~3575482428" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".ColourActivity"
            android:parentActivityName=".SelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectActivity" /></activity>
    </application>

</manifest>